// .g1,
// .g2,
// .g3,
// .g4,
// .g5,{
//   float: left;
//   position: relative;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;

// }

// .g5 {
// background-color: purple;
// border: 1px solid white;
// width: 96%;
// margin-left:2%;
// margin-right:2%;
// }

.widget-sm, .widget-med, .widget-lg, .widget-half{
  display: inline-block;
  position: relative;
  padding-top:30px;
  padding-bottom:30px;
  float: left; 
  min-height: 1px;
  margin-top: 10px;

}

.widget-half{
width:50%;
background-color: green;
}

.widget-sm {
width: 33.2%;
background-color: blue;
}
.widget-med {
width: 66.5%;
background-color: purple;
}
.widget-lg {
width: 100% ;
background-color: yellow;
}

@media (max-width: 768px) {
  .widget-sm, .widget-med, .widget-lg, .widget-half {
    width: 95%;
  }
}
