$primary: #66b745;
$primary-lite: #9fd083;
$primary-dark: #65984d;
$primary-alt: #cde3ad;
$primary-alt2: #345b2b;

$secondary: #428BCA;
$secondary-lite: #7cafd5;
$secondary-dark: #47708e;
$secondary-alt: #53AFFF;
$secondary-alt2: #4B9EE5;

$athlete: #66b745;
$athlete-lite: #9fd083;
$athlete-dark: #65984d;
$athlete-alt: #cde3ad;
$athlete-alt2: #345b2b;

$accent1: #e88a48;
$accent1-dark: darken(#e88a48, 10%);

$error: #bf4c4c;
$error-dark: darken(#bf4c4c, 10%);

$white: #ffffff;
$black: #000000;



//GrayScale - I use Warm Grays
$gray1: #f4f3f2;
$gray2: #838a8a;
$gray3: #9f9f91;
